In [1]:
import mysql.connector
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import requests
import json

In [2]:
# Dataframe creation

# ✅ Connect to MySQL
mydb = mysql.connector.connect(
    host="localhost",
    port = '3306',
    user="root",        # or your MySQL username
    password="1234", # your MySQL password
    database="PHONEPE_VISUALIZATION"
)

cursor = mydb.cursor()

#aggre_insurance_df
cursor.execute("SELECT * FROM aggregated_insurance")
table1 = cursor.fetchall()

Aggre_insurance = pd.DataFrame(table1, columns=("States", "Years", "Quarter", "Insurance_type",
                                                        "Insurance_count", "Insurance_amount"))

#aggre_transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
table2 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(table2, columns=("States", "Years", "Quarter", "Transaction_type",
                                                        "Transaction_count", "Transaction_amount"))

#aggre_user_df
cursor.execute("SELECT * FROM aggregated_user")
table3 = cursor.fetchall()

Aggre_user = pd.DataFrame(table3, columns=("States", "Years", "Quarter", "Brands",
                                                        "Transaction_count", "Percentage"))

#map_insurance_df
cursor.execute("SELECT * FROM map_insurance")
table4 = cursor.fetchall()

map_insurance = pd.DataFrame(table4, columns=("States", "Years", "Quarter", "Districts",
                                                        "Transaction_count", "Transaction_amount"))

#map_transaction_df
cursor.execute("SELECT * FROM map_transaction")
table5 = cursor.fetchall()

map_transaction = pd.DataFrame(table5, columns=("States", "Years", "Quarter", "Districts",
                                                        "Transaction_count", "Transaction_amount"))

#map_user_df
cursor.execute("SELECT * FROM map_user")
table6 = cursor.fetchall()

map_user = pd.DataFrame(table6, columns=("States", "Years", "Quarter", "Districts",
                                                        "RegisteredUser", "AppOpens"))

#top_insurance_df
cursor.execute("SELECT * FROM top_insurance")
table7 = cursor.fetchall()

top_insurance = pd.DataFrame(table7, columns=("States", "Years", "Quarter", "Pincodes",
                                                        "Transaction_count", "Transaction_amount"))

#top_transaction_df
cursor.execute("SELECT * FROM top_transaction")
table8 = cursor.fetchall()

top_transaction = pd.DataFrame(table8, columns=("States", "Years", "Quarter", "Pincodes",
                                                        "Transaction_count", "Transaction_amount"))

#top_user_df
cursor.execute("SELECT * FROM top_user")
table9 = cursor.fetchall()

top_user = pd.DataFrame(table9, columns=("States", "Years", "Quarter", "Pincodes",
                                                        "RegisteredUser"))

In [ ]:
# ✅ Connect to MySQL
def top_chart_insurance_amount(table_name):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()

    #plot_1
    query1= f'''select states, sum(insurance_amount) as insurance_amount
                from {table_name}
                group by states
                order by insurance_amount desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("states", "insurance_amount"))


    fig_amount_1= px.bar(df_1, x="states", y= "insurance_amount", title= "TOP 10 OF INSURANCE AMOUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select states, sum(insurance_amount) as insurance_amount
                from {table_name}
                group by states
                order by insurance_amount 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("states", "insurance_amount"))

    
    fig_amount_2= px.bar(df_2, x="states", y= "insurance_amount", title= "LAST 10 OF INSURANCE AMOUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select states, avg(insurance_amount) as insurance_amount
                from {table_name}
                group by states
                order by insurance_amount'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("states", "insurance_amount"))

    fig_amount_3= px.bar(df_3, y= "states", x= "insurance_amount", title= "AVERAGE OF INSURANCE AMOUNT", hover_name= "states", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_insurance_amount('aggregated_insurance')

In [12]:
# ✅ Connect to MySQL
def top_chart_insurance_count(table_name):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()

    #plot_1
    query1= f'''select states, sum(insurance_count) as insurance_count
                from {table_name}
                group by states
                order by insurance_count desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("states", "insurance_count"))


    fig_amount_1= px.bar(df_1, x="states", y= "insurance_count", title= "TOP 10 OF INSURANCE COUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select states, sum(insurance_count) as insurance_count
                from {table_name}
                group by states
                order by insurance_count 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("states", "insurance_count"))

    
    fig_amount_2= px.bar(df_2, x="states", y= "insurance_count", title= "LAST 10 OF INSURANCE COUNT", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select states, avg(insurance_count) as insurance_count
                from {table_name}
                group by states
                order by insurance_count'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("states", "insurance_count"))

    fig_amount_3= px.bar(df_3, y= "states", x= "insurance_count", title= "AVERAGE OF INSURANCE COUNT", hover_name= "states", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_insurance_count('aggregated_insurance')

In [ ]:
# ✅ Connect to MySQL
def top_chart_transaction_amount(table_name):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()

    #plot_1
    query1= f'''select states, sum(transaction_amount) as transaction_amount
                from {table_name}
                group by states
                order by transaction_amount desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("states", "transaction_amount"))


    fig_amount_1= px.bar(df_1, x="states", y= "transaction_amount", title= "Transaction Amount", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select states, sum(transaction_amount) as transaction_amount
                from {table_name}
                group by states
                order by transaction_amount 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("states", "transaction_amount"))

    
    fig_amount_2= px.bar(df_2, x="states", y= "transaction_amount", title= "Transaction Amount", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select states, avg(transaction_amount) as transaction_amount
                from {table_name}
                group by states
                order by transaction_amount'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("states", "transaction_amount"))

    fig_amount_3= px.bar(df_3, y= "states", x= "transaction_amount", title= "Transaction Amount", hover_name= "states", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_transaction_amount('aggregated_transaction')

In [ ]:
# ✅ Connect to MySQL
def top_chart_transaction_count(table_name):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()

    #plot_1
    query1= f'''select states, sum(transaction_count) as transaction_count
                from {table_name}
                group by states
                order by transaction_count desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("states", "transaction_count"))


    fig_amount_1= px.bar(df_1, x="states", y= "transaction_count", title= "Transaction Count", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select states, sum(transaction_count) as transaction_count
                from {table_name}
                group by states
                order by transaction_count 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("states", "transaction_count"))

  
    fig_amount_2= px.bar(df_2, x="states", y= "transaction_count", title= "Transaction Count", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select states, avg(transaction_count) as transaction_count
                from {table_name}
                group by states
                order by transaction_count'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("states", "transaction_count"))

    fig_amount_3= px.bar(df_3, y= "states", x= "transaction_count", title= "Transaction Count", hover_name= "states", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_transaction_count('aggregated_transaction')

In [7]:
# ✅ Connect to MySQL
def top_chart_registered_user(table_name, state):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()  

    #plot_1
    query1= f'''select districts, sum(registereduser) as registereduser
                from {table_name}
                where states= '{state}'
                group by districts
                order by registereduser desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("districts", "registereduser"))


    fig_amount_1= px.bar(df_1, x="districts", y= "registereduser", title= "TOP 10 OF REGISTERED USER", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select districts, sum(registereduser) as registereduser
                from {table_name}
                where states= '{state}'
                group by districts
                order by registereduser 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("districts", "registereduser"))

  
    fig_amount_2= px.bar(df_2, x="districts", y= "registereduser", title= "LAST 10 OF REGISTERED USER", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select districts, avg(registereduser) as registereduser
                from {table_name}
                where states= '{state}'
                group by districts
                order by registereduser;'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("districts", "registereduser"))

    fig_amount_3= px.bar(df_3, y= "districts", x= "registereduser", title= "AVERAGE OF REGISTERED USER", hover_name= "districts", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_registered_user('map_user', 'Tamil Nadu')

In [9]:
# ✅ Connect to MySQL
def top_chart_appopens(table_name, state):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()  

    #plot_1
    query1= f'''select districts, sum(appopens) as appopens
                from {table_name}
                where states= '{state}'
                group by districts
                order by appopens desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("districts", "appopens"))


    fig_amount_1= px.bar(df_1, x="districts", y= "appopens", title= "TOP 10 OF APPOPENS", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select districts, sum(appopens) as appopens
                from {table_name}
                where states= '{state}'
                group by districts
                order by appopens 
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("districts", "appopens"))

  
    fig_amount_2= px.bar(df_2, x="districts", y= "appopens", title= "LAST 10 OF APPOPENS", hover_name= "districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select districts, avg(appopens) as appopens
                from {table_name}
                where states= '{state}'
                group by districts
                order by appopens;'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("districts", "appopens"))

    fig_amount_3= px.bar(df_3, y= "districts", x= "appopens", title= "AVERAGE OF APPOPENS", hover_name= "districts", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_appopens('map_user', 'Tamil Nadu')

In [11]:
# ✅ Connect to MySQL
def top_chart_registered_users(table_name):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="PHONEPE_VISUALIZATION"
    )

    cursor = mydb.cursor()  

    #plot_1
    query1= f'''select states, sum(registereduser) as registereduser
                from {table_name}
                group by states
                order by registereduser desc
                limit 10;'''

    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table_1, columns= ("states", "registereduser"))


    fig_amount_1= px.bar(df_1, x="states", y= "registereduser", title= "TOP 10 OF REGISTERED USER", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount_1.show()


    #plot_2
    query2= f'''select states, sum(registereduser) as registereduser
                from {table_name}
                group by states
                order by registereduser
                limit 10;'''

    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table_2, columns= ("states", "registereduser"))

  
    fig_amount_2= px.bar(df_2, x="states", y= "registereduser", title= "LAST 10 OF REGISTERED USER", hover_name= "states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650, width= 600)
    fig_amount_2.show()

    #plot_3
    query3= f'''select states, avg(registereduser) as registereduser
                from {table_name}
                group by states
                order by registereduser
                limit 10;'''

    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table_3, columns= ("states", "registereduser"))

    fig_amount_3= px.bar(df_3, y= "states", x= "registereduser", title= "AVERAGE OF REGISTERED USER", hover_name= "states", orientation= "h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_amount_3.show()

In [ ]:
top_chart_registered_users('top_user')

In [ ]:
top_user

In [ ]:
top_transaction

In [ ]:
top_insurance

In [ ]:
map_user

In [ ]:
map_transaction

In [ ]:
map_insurance

In [ ]:
Aggre_user

In [ ]:
Aggre_insurance

In [ ]:
Aggre_transaction

## Aggregated insurance

In [10]:
#Aggre_insurance
def Transaction_amount_count_Y(df, year):
    tacy= df[df["Years"] == year]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Insurance_count", "Insurance_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="States", y= "Insurance_amount", title=f"{year} Insurance Amount",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y= "Insurance_count", title=f"{year} Insurance Count",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Insurance_amount", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Insurance_amount"].min(), tacyg["Insurance_amount"].max()),
                                hover_name = "States", title = f"{year} INSURANCE AMOUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Insurance_count", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Insurance_count"].min(), tacyg["Insurance_count"].max()),
                                hover_name = "States", title = f"{year} INSURANCE COUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [11]:
#Aggre_insurance quarter based
def Transaction_amount_count_Y_Q(df, quarter):
    tacy= df[df["Quarter"] == quarter]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Insurance_count", "Insurance_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="States", y= "Insurance_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER Insurance Amount",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y= "Insurance_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER Insurance Count",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Insurance_amount", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Insurance_amount"].min(), tacyg["Insurance_amount"].max()),
                                hover_name = "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER INSURANCE AMOUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Insurance_count", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Insurance_count"].min(), tacyg["Insurance_count"].max()),
                                hover_name = "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER INSURANCE COUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

In [ ]:
tac_Y= Transaction_amount_count_Y(Aggre_insurance, 2022)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 2)

In [16]:
tac_Y['Years'].unique()

array([2022])

In [17]:
Aggre_insurance['Years'].min()

np.int64(2020)

In [ ]:
Aggre_insurance

In [ ]:
Aggre_transaction

In [16]:
Aggre_transaction['Transaction_type'].unique()

array(['Recharge & bill payments', 'Peer-to-peer payments',
       'Merchant payments', 'Financial Services', 'Others'], dtype=object)

## Aggregated transaction

In [13]:
#Aggre_transaction
def Aggre_Transaction_amount_count_Y(df, year):
    tacy= df[df["Years"] == year]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="States", y= "Transaction_amount", title=f"{year} Transaction Amount",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y= "Transaction_count", title=f"{year} Transaction Count",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name = "States", title = f"{year} TRANSACTION AMOUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name = "States", title = f"{year} TRANSACTION COUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [ ]:
Aggre_tran_tac_Y = Aggre_Transaction_amount_count_Y(Aggre_transaction, 2022)

In [ ]:
Aggre_tran_tac_Y

In [ ]:
tacy= Aggre_tran_tac_Y[Aggre_tran_tac_Y["States"] == "West Bengal"]
tacy.reset_index(drop= True, inplace= True)
tacy

In [15]:
#Aggre_transaction quarter based
def Aggre_Transaction_amount_count_Y_Q(df, quarter):
    tacy= df[df["Quarter"] == quarter]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="States", y= "Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER Transaction Amount",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y= "Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER Transaction Count",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650, width= 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name = "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name = "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds = "locations",
                                height= 650, width= 600)
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [ ]:
Aggre_tran_tac_Y_Q = Aggre_Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 2)

In [ ]:
Aggre_tran_tac_Y

In [17]:
# aggregated transaction type
def Aggre_Tran_Transaction_type(df, state):
    
    tacy= df[df["States"] == state]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_pie_1= px.pie(data_frame=tacyg, names= "Transaction_type", values="Transaction_amount",
                        width=1000,title= f"{state.upper()} TRANSACTION AMOUNT",hole=0.5)
    fig_pie_1.show()

    fig_pie_2= px.pie(data_frame=tacyg, names= "Transaction_type", values="Transaction_count",
                        width=1000,title= f"{state.upper()} TRANSACTION COUNT",hole=0.5)
    fig_pie_2.show()

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y, 'Tamil Nadu')

In [ ]:
Aggre_tran_tac_Y['States'].unique()

In [ ]:
Aggre_tran_tac_Y_Q

In [ ]:
Aggre_tran_tac_Y_Q['States'].unique()

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y_Q, 'Tamil Nadu')

### aggregated user

In [19]:
#Aggre_user1
def Aggre_user_plot_1(df, year):
    aguy = df[df['Years'] == year]
    aguy.reset_index(drop= True, inplace= True)

    aguyg = pd.DataFrame(aguy.groupby('Brands')['Transaction_count'].sum())
    aguyg.reset_index(inplace= True)
    aguyg

    fig_bar_1= px.bar(aguyg, x="Brands",y= "Transaction_count", title=f"{year} YEAR BRANDS AND TRANSACTION COUNT",
                    width=1000,color_discrete_sequence=px.colors.sequential.haline, hover_name= "Brands")
    fig_bar_1.show()

    return aguy

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggre_user, 2018)

In [21]:
#Aggre_user2
def Aggre_user_plot_2(df, quarter):
    aguyq = Aggre_user_Y[Aggre_user_Y['Quarter'] == quarter]
    aguyq.reset_index(drop= True, inplace= True)

    aguyqg = pd.DataFrame(aguyq.groupby('Brands')['Transaction_count'].sum())
    aguyqg.reset_index(inplace= True)

    fig_bar_1= px.bar(aguyqg, x="Brands",y= "Transaction_count", title=f"{quarter} QUARTER BRANDS AND TRANSACTION COUNT",
                    width=1000,color_discrete_sequence=px.colors.sequential.haline_r, hover_name= "Brands")
    fig_bar_1.show()

    return aguyq

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y, 3)

In [23]:
#Aggre_user3
def Aggre_user_plot_3(df, state):
    auyqs= df[df['States'] == state]
    auyqs.reset_index(drop= True, inplace= True)

    fig_line_1= px.line(auyqs, x= "Brands", y="Transaction_count", hover_data= "Percentage",
                        width=1000,title=" BRANDS, TRANSACTION COUNT, PERCENTAGE", markers= True)
    fig_line_1.show()

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, 'Andaman & Nicobar')

In [ ]:
Aggre_user

In [ ]:
Aggre_user_Y

In [ ]:
Aggre_user_Y_Q

### map insurance

In [25]:
# map_insurance_district
def map_insur_Districts(df, state):
    
    tacy= df[df["States"] == state]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("Districts")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_bar_1= px.bar(tacyg, x= "Transaction_amount", y="Districts", orientation= "h",
                        width=1000,title= f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2= px.bar(tacyg, x= "Transaction_count", y="Districts", orientation= "h",
                        width=1000,title= f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Bluered_r)
    fig_bar_2.show()

In [ ]:
map_insur_tac_Y = Aggre_Transaction_amount_count_Y(map_insurance, 2022)

In [ ]:
map_insur_Districts(map_insur_tac_Y, 'West Bengal')

In [ ]:
map_insur_tac_Y_Q = Aggre_Transaction_amount_count_Y_Q(map_insur_tac_Y, 2)

In [ ]:
map_insur_Districts(map_insur_tac_Y_Q, 'Tamil Nadu')

### map transaction

In [ ]:
map_tran_tac_Y = Aggre_Transaction_amount_count_Y(map_transaction, 2022)

In [ ]:
map_insur_Districts(map_tran_tac_Y, 'West Bengal')

In [ ]:
map_tran_tac_Y_Q = Aggre_Transaction_amount_count_Y_Q(map_tran_tac_Y, 2)

In [ ]:
map_insur_Districts(map_tran_tac_Y_Q, 'Tamil Nadu')

### map user

In [34]:
# Map_user_plot_1
def map_user_plot_1(df, year):
    muy = df[df['Years'] == year]
    muy.reset_index(drop= True, inplace= True)
    muy

    muyg = muy.groupby('States')[['RegisteredUser', 'AppOpens']].sum()
    muyg.reset_index(inplace= True)

    fig_line_1= px.line(muyg, x= "States", y= ["RegisteredUser", "AppOpens"],
                            width=1000, title=f"{year} REGISTERED USER, APPOPENS", height= 800, markers= True)
    fig_line_1.show()

    return muy

In [ ]:
Map_user_Y = map_user_plot_1(map_user, 2020)

In [36]:
# Map_user_plot_2
def map_user_plot_2(df, quarter):
    muyq = df[df['Quarter'] == quarter]
    muyq.reset_index(drop= True, inplace= True)
    muyq

    muyqg = muyq.groupby('States')[['RegisteredUser', 'AppOpens']].sum()
    muyqg.reset_index(inplace= True)

    fig_line_1= px.line(muyqg, x= "States", y= ["RegisteredUser", "AppOpens"],
                            width=1000, title=f"{quarter} QUARTER REGISTERED USER, APPOPENS", height= 800, markers= True)
    fig_line_1.show()

    return muyq

In [ ]:
Map_user_Y_Q= map_user_plot_2(Map_user_Y, 2)

In [38]:
# Map_user_plot_3
def map_user_plot_3(df, states):
    muyqs = df[df['States'] == states]
    muyqs.reset_index(drop= True, inplace= True)

    fig_map_user_bar_1= px.bar(muyqs, x= "RegisteredUser", y= "Districts", orientation= "h",
                            width=1000, title="REGISTERED USER", color_discrete_sequence= px.colors.sequential.Rainbow_r, height= 800)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2= px.bar(muyqs, x= "AppOpens", y= "Districts", orientation= "h",
                            width=1000, title="APPOPENS", color_discrete_sequence= px.colors.sequential.Rainbow, height= 800)
    fig_map_user_bar_2.show()

    return muyqs

In [ ]:
Map_user_Y_Q_S= map_user_plot_3(Map_user_Y_Q, 'Andaman & Nicobar')

In [ ]:
Map_user_Y_Q_S

In [ ]:
Map_user_Y_Q

In [ ]:
Map_user_Y

In [ ]:
map_user

### top insurance

In [57]:
# top_insurance_plot_1
def Top_insurance_plot_1(df, state):
    tiy = df[df['States'] == state]
    tiy.reset_index(drop= True, inplace= True)

    fig_top_insur_bar_1= px.bar(tiy, x= "Quarter", y= "Transaction_amount", hover_data= "Pincodes",
                            width=1000, title="TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.GnBu_r, height= 800)
    fig_top_insur_bar_1.show()

    fig_top_insur_bar_2= px.bar(tiy, x= "Quarter", y= "Transaction_count", hover_data= "Pincodes",
                            width=1000, title="TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Agsunset, height= 800)
    fig_top_insur_bar_2.show()

In [ ]:
top_insur_tac_Y = Aggre_Transaction_amount_count_Y(top_insurance, 2022)

In [ ]:
Top_insurance_plot_1(top_insur_tac_Y, "West Bengal")

In [ ]:
top_insur_tac_Y_Q = Aggre_Transaction_amount_count_Y_Q(top_insur_tac_Y, 2)

In [ ]:
tiy

In [ ]:
top_insurance

### top transaction

In [ ]:
top_tran_tac_Y = Aggre_Transaction_amount_count_Y(top_transaction, 2022)

In [ ]:
Top_insurance_plot_1(top_tran_tac_Y, "West Bengal")

In [ ]:
top_tran_tac_Y_Q = Aggre_Transaction_amount_count_Y_Q(top_tran_tac_Y, 2)

In [ ]:
top_transaction

### top_user

In [83]:
#top_user_plot_1
def top_user_plot_1(df, year):
    tuy = df[df['Years'] == year]
    tuy.reset_index(drop= True, inplace= True)

    tuyg = pd.DataFrame(tuy.groupby(['States', 'Quarter'])['RegisteredUser'].sum())
    tuyg.reset_index(inplace= True)
    

    fig_top_plot_1= px.bar(tuyg, x= "States", y= "RegisteredUser", color= "Quarter", width=1000, height= 800,
                            color_discrete_sequence= px.colors.sequential.Burgyl, hover_data= "States",
                            title= f"{year} REGISTERED USERS")
    fig_top_plot_1.show()

    return tuy

In [ ]:
Top_user_Y = top_user_plot_1(top_user, 2018)

In [88]:
#top_user_plot_2
def top_user_plot_2(df, state):
    tuys = df[df['States'] == state]
    tuys.reset_index(drop= True, inplace= True)

    fig_top_plot_2= px.bar(tuys, x= "Quarter", y= "RegisteredUser", color= "RegisteredUser", width=1000, height= 800,
                                color_continuous_scale= px.colors.sequential.Magenta, hover_data= "Pincodes",
                                title= "REGISTERED USERS, PINCODES, QUARTER")

    fig_top_plot_2.show()

In [ ]:
top_user_plot_2(Top_user_Y, "West Bengal")

In [78]:
Top_user_Y

                 States  Years  Quarter  Pincodes  RegisteredUser
0     Andaman & Nicobar   2020        1    744103         1717074
1     Andaman & Nicobar   2020        1    744101         1717074
2     Andaman & Nicobar   2020        1    744105         1717074
3     Andaman & Nicobar   2020        1    744102         1717074
4     Andaman & Nicobar   2020        1    744202         1717074
...                 ...    ...      ...       ...             ...
1423        West Bengal   2020        4    700015         1717074
1424        West Bengal   2020        4    721101         1717074
1425        West Bengal   2020        4    742304         1717074
1426        West Bengal   2020        4    700091         1717074
1427        West Bengal   2020        4    700150         1717074

[1428 rows x 5 columns]

In [ ]:
top_user